<div class="index-mainbar">
    <div class="about-container">
        <h3>about jesse cameron</h3>
        <p>a simple boy who takes great care to put on airs <br>constantly occilating between suburbs and the bush scrub</p>
        <p>if you like my work here's more!</p>
        <ul>
            <li>words written by me: medium</li>
            <li>social media: instagram</li>
            <li>coding projects: github</li>
        </ul>
    </div>
</div>