<div class="index-mainbar">
    <div class="series-header">
        <h3><%= @album_map["title"] %></h3>
        <p><%= @album_map["subtitle"]%><p>
    </div>

    <%= for photo <- @album_map["images"] do %>
        <div class="photo-series">
            <%= img_tag(photo["url"],
                create_img_attrs(@album_map["folder_name"], photo))
            %>
            <div class="subtitle"><%= photo["title"] %></div>
        </div>
    <% end %>
</div>