<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome...</title>
    <meta name="author" content="Jesse Cameron">
    <meta name="description" content="Plz enjoy my lil snaps">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113926026-1"></script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>
</body>
<div class="landing-banner">
    <div class="content">
        <h3>photography by jesse cameron</h3>
        <h3><%= link("come on in ...", to: "/home") %></h3>
    </div>
</div>
    
<div class="landing-canvas" style="background-image: url(<%= get_bg_url() %>)">
    <div class="landing-triptych">
        <div class="img-column" id="col-1">
            <div class="img-container">
                <img src="<%= get_image_url(@number_list, 0) %>">
            </div>
        </div>
        <div class="img-column" id="col-2"> 
            <div class="img-container">
                <img src="<%= get_image_url(@number_list, 1) %>">
            </div>
        </div>
        <div class="img-column" id="col-3">
            <div class="img-container">
                <img src="<%= get_image_url(@number_list, 2) %>">
            </div>
        </div>
        <div class="img-column" id="col-4">
            <div class="img-container">
                <img src="<%= get_image_url(@number_list, 3) %>">
            </div>
        </div>
        <div class="img-column" id="col-5">
            <div class="img-container">
                <img src="<%= get_image_url(@number_list, 4) %>">
            </div>
        </div>
    </div>
</div>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113926026-1');
</script>
</body>
</html>