.error-mainbar {
    display: flex;
    justify-content: center;
    color: $index-font-colour;
    background-color: $background-light;

    .error-message-content {
        border: 1px solid $border-colour;
        width: 80vw;
        padding: 2rem;
        justify-content: center;

        h2 {
            text-align: center;
        }

        p {
            font-size: 1rem;
            color: $index-font-colour
        }

        li {
            padding-bottom: 0.5rem;
        }

        .error-image {
            
            img {
                width: 100%;
                object-fit: cover;
                min-height: 200px;
            }

            .error-image-message {
                
                p {
                    position: relative;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    margin-top: -3em;
                    margin-bottom: 3rem;
                    
                    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                    color: rgb(255, 204, 0);
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: center;
                }
            }

        }
        br + p {
            margin-top: 3rem;
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 700px) {
    .error-mainbar {
        .error-message-content {
            .error-image {
                .error-image-message {
                    p {
                        margin-top: -5rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}