p {
    font-size: 1.1rem;
}

.index-canvas {
    display: flex;
    justify-content: center;
    color: $index-font-colour;

    .index-content {
        //border: 1px solid $border-colour;

        width: 90vw;
        max-width: 1200px;

        display: grid;
        justify-content: center;
        grid-template-columns: minmax(200px, 0.11111111fr) minmax(500px, 66.66666vh) minmax(200px, 0.11111111fr);
        grid-column-gap: 4.2rem;

        .index-sidebar {
            //border: 1px solid $border-colour;
            height: calc(100vh - 2rem); /* note: this should reflect $gap-spacing, SCSS cars can't be using in calc() */
            position: sticky; /* this won't work on some browsers */
            top: 0;
            padding-top: 1rem;
        
            .sidebar-btn {
                display: none;
            }
        
            .sidebar-header {
                padding-left: 5px;
                padding-right: 5px;
                background-color: black;
                > p {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: white;
                    text-align: center;
                    font-size: 1.3rem;
                    font-family: $emp-font-stack;
                }
            }
            
            .sidebar-links {
                > p {
                    text-align: right;
                    font-style: italic;
                    font-family: $heading-font-stack;
                } 
            }
        }

        .index-mainbar {
            //border: 1px solid $border-colour;

            padding-top: $gap-spacing;
            position: relative;
            
            a {
                color: $index-font-colour;
            }

            &:before {
                content: "";
                height: 100%;
                position: absolute;
                margin-left: -2.1rem;
                border-left: 1px solid $divider-line-colour;
            }

            li {
                padding-bottom: 0.4rem;
            }

            .series-header {

                h3 {
                    letter-spacing: 0.25rem;
                    font-size: 1.2rem;
                }

                p {
                    font-family: $heading-font-stack;
                    font-style: italic;
                    text-align: center;
                }

                margin-bottom: 1rem;
            }
            
            .photo-series {

                a {
                    text-decoration: none;
                    color: $index-font-colour;
                }
                border-bottom: 1px solid $divider-line-colour;
                margin-bottom: $gap-spacing;
                
                .title {
                    h3 {
                        font-style: normal;
                        letter-spacing: 0.25rem;
                        font-size: 1.2rem;
                        margin: 0;
                    }
                    margin-bottom: 0.2rem;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                .subtitle {
                    margin-bottom: $gap-spacing;
                    text-align: right;
                }
            }
        }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 700px) {
    .index-canvas {
        .index-content {

            grid-template-columns: repeat(auto-fit, 100%);
            .index-sidebar {
                border-right: none;
                margin-top: -3rem;
                padding-bottom: -0.5rem;
                height: auto;
                position: relative;
                z-index: 1;
                pointer-events: all;

                .sidebar-btn {
                    color: white;
                    display: inline-block;
                    position: relative;
                    text-align: left;
                    padding-left: 1rem;
                    margin-top: -0.15rem;
                }

                .sidebar-header {
                    transform: translateY(1.5rem);
                    margin-bottom: -1.4rem;
                }

                .sidebar-links {
                    visibility: hidden;
                    height: 0;
                    padding-top: 0.4rem;
                    
                    > p {
                        border-bottom: 1px solid $divider-line-colour;
                        text-align: center;
                        margin: 0;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                    }
                }
            
                &:hover {

                    > .sidebar-links {
                        height: auto;
                        visibility: visible;
                    }
                }
            }

            .index-mainbar {
                padding-top: 1.2rem;
            }
        }
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 700px) and (max-width: 1350px) {
  
    .index-canvas {
        .index-content {
            grid-template-columns: minmax(200px, 0.11111111fr) minmax(400px, 66.66666vh);
        }
    }
}

/* Large screens, non-retina */
@media only screen and (min-width: 1350px) {
    .index-canvas {
        .index-content {
            grid-template-columns: minmax(200px, 0.11111111fr) minmax(600px, 66.66666vh) minmax(200px, 0.11111111fr);
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

    /* Large screen, retina, stuff to override above media query */
    .index-canvas {
        .index-content {
            /* grid-template-columns: minmax(200px, 0.11111111fr) minmax(500px, 66.66666vh) minmax(200px, 0.11111111fr); */
        }
    }
}