$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
    font-size: 14px;
}

.image-content {
    flex-direction: row;
    display: flex;
    height: 80vh;
    max-width: 100%;
    align-content: center;
    flex-flow: row-wrap;
    border: 1px solid red;

    .image-column {
        
        object-fit: scale-down;
        overflow: hidden;
        width: 20%;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        order: 1;
        border: 1px solid red;
        
        img{
            height: 100%;
            position: relative;
            right: 45%;
            vertical-align: middle;
        }
    }
}