@import "variables";

body {
    font: 100% $font-stack;
    color: $font-colour;
    font-size: 14px;
    background-color: $background-colour;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Styles */


}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    $column-width: 16vw;
    $corner-size: $column-width / 2;

    /* Styles */
    .image-content {
        flex-direction: row;
        display: flex;
        height: 80vh;
        max-width: 1300px;
        margin: 0 auto;
        flex-flow: row-wrap;
        border: 1px solid red;
        //background-image: url('public/img/bg.jpg');
        
        .image-column {
            
            object-fit: scale-down;
            overflow: hidden;
            max-width: $column-width;
            height: 100%;
            margin-left: $column-width / 4;
            margin-right: $column-width / 4;
            border: 1px solid red;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            position: relative;
            
            img {
                height: 100%;
                position: relative;
                right: 55%;
                vertical-align: middle;
                
                // transitions
                -webkit-filter: grayscale(1); /* Safari 6.0 - 9.0 */
                filter: grayscale(1);
                transition: all 0.7s;
                -webkit-transition: all 0.7s;
                
                &:hover {
                -webkit-filter: none;
                    filter: none;
                }
            }
            
            /* diamond corners */
            .tl, .tr, .bl, .br {
                width: 0; 
                height: 0;
                position: absolute;
            }
            
            .tl {
                top: 0;
                left: 0;
                border-top: $corner-size solid $background-colour; 
                border-right: $corner-size solid transparent;
            }
            
            .tr {
                top: 0;
                right: 0;
                border-top: $corner-size solid $background-colour; 
                border-left: $corner-size solid transparent;
            }
            
            .bl {
                bottom: 0; 
                left: 0; 
                border-bottom: $corner-size solid $background-colour; 
                border-right: $corner-size solid transparent; 
            }
            
            .br {
                bottom: 0; 
                right: 0; 
                border-bottom: $corner-size solid $background-colour; 
                border-left: $corner-size solid transparent; 
            }
        }
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {

}

