<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plz enjoy my lil snaps">
    <meta name="author" content="Jesse Cameron">

    <title><%= title() %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113926026-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113926026-1');
</script>
<body>
<div class="index-canvas">
    <div class="index-content">
        
        <div class="index-sidebar">
            <div class="sidebar-header">
                <p>courtesy of jesse</p>
            </div>
            <div class="sidebar-btn">☰</div>
            <div class="sidebar-links">
                <p><%= link("home", to: "/")%></p>
                <p><%= link("derelict", to: "/album/derelict")%></p>
                <p><%= link("a wicked bushland", to: "/album/bushland")%></p>
                <p><%= link("furred friends", to: "/album/furred_friends")%></p>
                <p><%= link("about", to: "/about")%></p>
            </div>
        </div>

        <%= render @view_module, @view_template, assigns %>
    </div>
</div>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
